body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;

}
.landingPage-container{
    text-align: center;
}

.landingPage-container .Tamagochi-logo{
    width: 700px;
    margin-bottom: 100px;
}
#landingPage{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    width: 35%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

#landingPage h1, #landingPage p{
    font-size: 16px;
} 

#landingPage input{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#landingPage button{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.897);
}

#gameLive{
    width: 100%;
    display: none;
    text-align: center;
}

#gameLive .Tamagotchi-logo{
    width: 100px;
    margin-bottom: 20px;
}

#gameLive h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.gameLive-container #gameCharacter{
    width: 200px;

}

.gameLive-container #secondGameCharacter{
    width: 200px;
    margin: 0 auto;
}
.gameLive-container #thirdGameCharacter{
    width: 200px;
    margin: 0 auto;
}

.gameLive-container #buttons-container{
    background-color: black;
    width: 250px;
    margin-bottom: 20px;    
}

.gameLive-container #buttons-container button{
    font-weight: bold;
    width: 250px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gameLive-container #displayList{
    background-color: red;
    width: 250px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10%;
}

.gameLive-container #displayList li{
    color: white;
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* Don't know too much about animations but by using online tools, I learned that @keyframes are used to create animations and to also make gradual changes from one place to another. In this case, we use keyframes to an element 100px to the left and to the right by using translateX, which makes the element move horizontally*/

@keyframes slide{
    from {
        transform: translateX(-400px)
    }
    to {
        transform: translateX(400px);
    }
}
/* this creates an animation where it uses slide and its animation values for 3 sec, it should be indefiniete, and alternate so that it goes in alternate direction each time. */
.gameLive-container #gameCharacter,
.gameLive-container #secondGameCharacter,
.gameLive-container #thirdGameCharacter{
    animation: slide 4s infinite alternate
}
/* I use flexbox to control the both the displayList and buttons container so that it sits side by side in a row, its content is place on the center of the screen, and also spaced out evenly. */
.gameLive-container #flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly
}